body {
    text-align: center;
}

/* modal styles */

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.438);
    z-index: 2;
}

.hide{
    display: none;
}

.modal-body {
    position: relative;
    width: 400px;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -70%);
}

.modal-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.modal-title {
    text-align: center;
    padding-top: 15px;
    color: #F99120;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border: 1px solid gray;
}

.modal-button {
    width: 60px;
    height: 30px;
}